<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lxj"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="ClientActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ShareBitmapService" android:process=":remote">
            <intent-filter>
                <action android:name="com.lxj.IShareBitmapService" />
                <action android:name="com.lxj.SHARE_BITMAP_SERVICE" />
            </intent-filter>
        </service>

    </application>
</manifest> 
